

@{
    ViewData["Title"] = "Home Page";
}

    <body>
        <div class="text-center">
            <h1 style="color:darkblue; font-family:Arial, Helvica, sans-serif;" class="display-4">Welcome to Off Piste Ski & Board</h1>
        </div>


        <div>
            <center>
                <img src="https://www.google.com/imgres?imgurl=http%3A%2F%2Fskicanadamag.com%2Fwp-content%2Fuploads%2F2011%2F07%2F11BM11.jpg&imgrefurl=https%3A%2F%2Fskicanadamag.com%2Fall-mountain-2011%2F&tbnid=vvSeaOkRD6PHLM&vet=12ahUKEwjAqJCZvsjqAhUbUM0KHQXvDlsQMyg4egQIARA3..i&docid=_c2BxJOaqrVEJM&w=315&h=512&q=skiis%20in%20a%20row&ved=2ahUKEwjAqJCZvsjqAhUbUM0KHQXvDlsQMyg4egQIARA3" width="718" height="459">
                @*<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3aand9gcruese9cg-loek0tyte30stdgodoqc5cnunew&usqp=cau" width="718" height="459">*@
            </center>
        </div>
    </body>