

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link href ='https://fonts.googleapis.com/css?family=Sofia' rel="stylesheet"/>
</head>
<div class="text-center">
    <h1 style="color:darkblue; font-family:"Sofia, Helvica, sans-serif;"class="display-4">Welcome to Off Piste Ski & Board</h1>
</div>


<div>
    <center>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRUese9cg-LoEk0tYTe30STdGOdoQc5Cnunew&usqp=CAU" width="718" height="459">
    </center>
</div>
