@model IEnumerable<pamela_soulis_project1.Domain.Model.Location>

@{
    ViewData["Title"] = "Index";
}


<h1 style="color:darkblue">Our Stores</h1>
    <table class=" = " table">
        <thead>
            <tr>
                <th style="color:cadetblue">Location ID</th>
                <th style="color:cadetblue">Store</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var place in Model)
            {
            <tr>
                <td>@place.LocationId</td>
                <td>@place.Name</td>

                <td>                    
                    @Html.ActionLink("Details", "Details", new { id = place.LocationId }) |
                    @Html.ActionLink("Inventory Details", "Inventory Details", new { id = place.LocationId })                   
                </td>
            </tr>
            }
        </tbody>
    </table>

