
@{
    ViewData["Title"] = "Index";
}

<h1>Congratulations</h1>
<div class="text-center">
    <h1 class="display-4">Your order was successfully placed!</h1>
    <p>
        <a href ="Customer/Index">Verify your order</a>         
    </p>
</div>
