
@{
    ViewData["Title"] = "Index";
}

<h1 style="color:darkblue; font-family: Comic Sans MS, cursive, sans-serif;">Congratulations</h1>
<div class="text-center">
    <h1 style="color:cadetblue; font-family: Comic Sans MS, cursive, sans-serif;"class="display-4">Your order was successfully placed!</h1>
    <p>
        <h4 style="color:cadetblue; font-family: Comic Sans MS, cursive, sans-serif;">Thank you for your purchase and enjoy your shredding</h4>
        <a href ="Customer/Index">Verify your order</a>         
    </p>
</div>
