@model IEnumerable<pamela_soulis_project1.Domain.Model.Product>

@{
    ViewData["Title"] = "Index";
}


<h1>Index</h1>
<table class=" = " table">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Price</td>
            </tr>
        }
    </tbody>
</table>


